@import "tailwindcss";

@theme {
    --color-green: #B9FF66;
    --color-black1: #191A23;
    --color-white: #F3F3F3;
    --color-grey: #C5C6C9;
}
.custom-border{
    position: relative;
}
.custom-border::after{
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  height: 30%;
  width: 1px;
  background-color: black;
}
.custom-border-last::after{
  content: "";
  position: absolute;
}
.custom-border-last{
    position: relative;
}